* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #121212; /* Fondo oscuro */
    font-family: Arial, sans-serif;
    color: #E0E0E0; /* Texto claro */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    background-color: #1F1F1F; /* Header oscuro */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 30px;
}
nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly; /* Distribuir a lo largo del espacio */
}
nav a {
    color: #BB86FC; /* Color púrpura claro para los enlaces */
    text-decoration: none;
    font-weight: bold;
}
.cart-icon {
    height: 30px;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #1E1E1E; /* Fondo del contenedor oscuro */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1 {
    font-size: 3em;
    color: #BB86FC; /* Color claro para títulos */
    margin-bottom: 20px;
}
#content-box {
    background-color: #252525; 
    padding: auto;
    margin: auto;
    height: 150px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    font-size: 1.2em;
}
#content-box2 {
    background-color: #252525; 
    padding: 40px auto auto auto;
    margin: 30px auto auto auto;
    height: 300px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    font-size: 1.2em;
}
.content-box p {
    font-size: 1.2em;
    color: #BB86FC; /* Texto claro */
    margin: 30px 0px 30px 0px;
}
#content-box h2 {
    font-size: 1.5em;
    color: #BB86FC;
    padding: 30px 0px 0px 0px;
}
#content-box p {
    font-size: 1.2em;
    color: #929292; /* Texto claro */
}
#content-box2 h2 {
    font-size: 1.5em;
    color: #BB86FC;
    padding: 30px 0px 40px 0px;
}
#content-box2 p {
    font-size: 1.2em;
    color: #929292; /* Texto claro */
}
.footer {
    background-color: #1F1F1F; /* Footer oscuro */
    color: #E0E0E0; /* Texto claro */
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}

.logo-zapato {

    position: relative;

    animation: slideFromLeft 2s ease forwards;
}

/* Definimos la animación "slideFromLeft" */
@keyframes slideFromLeft {
    0% {
        /* Parte desde fuera de la pantalla */
        transform: translateX(-300px);
        opacity: 0;
        /* Para que aparezca difuminado */
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        /* Fin de la animación */
    }
}

.logo-carrito {

    position: relative;

    animation: slideFromRight 2s ease forwards;
}

/* Definimos la animación "slideFromRight" */
@keyframes slideFromRight {
    0% {
        /* Parte desde fuera de la pantalla */
        transform: translateX(300px);
        opacity: 0;
        /* Para que aparezca difuminado */
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        /* Fin de la animación con el icono completamente visible */
    }
}